.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: .563rem;
    padding-right: .563rem;
    border-width: 1px;
    border-radius: 1.9rem;
}

.badge-sm {
    height: 1rem;
    font-size: .75rem;
    line-height: 1rem;
    padding-left: .438rem;
    padding-right: .438rem;
}

.badge-md {
    height: 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-left: .563rem;
    padding-right: .563rem;
}

.badge-lg {
    height: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: .688rem;
    padding-right: .688rem;
}