* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem 4rem;
}