.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 10px 0px;
    min-width: 30vw;
}

.card:hover {
    transform: translateY(7px);
}

.card-active {
    border-radius: 0;
    border: rgb(100, 100, 111) 3px dashed !important;
}

.card-body {
    margin: 2rem 0;
    text-align: justify;
}

.card-categories {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}