.card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 30vw;
    padding: 1rem 2rem;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:hover {
    transform: translateY(7px);
}

.card-body {
    margin: 2rem 0;
    text-align: justify;
}

.card-categories {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}