* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

.title-gift {
    margin: 2rem 0;
    text-align: left;
}

.gifts {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    height: 100%;
}

.list-gifts {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media (max-width: 840px) {
    .title-gift {
        text-align: center;
    }

    .list-gifts {
        flex-direction: column;
    }
}

@media (max-width: 414px) {

    .gifts,
    .list-gifts {
        padding: 0.5rem;
    }
}